// Paleta de colores por color
$color00: white;
$color01: red;
$color02: yellow;
$color03: orange;
$color04: green;
$color05: violet;
$color06: gray;
$color07: brown;
$color08: pink;
$color09: lightblue;
$color10: blue;
$color11: black;