#sb0201 {
    background-color: lightgray;
}

#sb0202 {
    background-color: darkgray;
}

#sb0203 {
    background-color: gray;
}

#sb0204 {
    background-color: lightslategray;
}

#sb0205 {
    background-color: darkslategray;
}