#sb0101Content {
    background-color: $color10;
    height: 300px;
    margin-bottom: 20px;
}

#sb0102Content {
    @extend #sb0101Content;
    background-color: $color11;
}

#sb0103Content {
    @extend #sb0101Content;
    background-color: $color02;
}

#sb0104Content {
    @extend #sb0101Content;
    background-color: $color03;
}

#sb0105Content {
    @extend #sb0101Content;
    background-color: $color04;
}