#sb0101 {
    background-color: darkseagreen;
}

#sb0102 {
    background-color: dimgray;
}

#sb0103 {
    background-color: blueviolet;
}

#sb0104 {
    background-color: goldenrod;
}

#sb0105 {
    background-color: greenyellow;
}