#sb0201 {
    background-color: $color05;
}

#sb0202 {
    background-color: $color06;
}

#sb0203 {
    background-color: $color07;
}

#sb0204 {
    background-color: $color08;
}

#sb0205 {
    background-color: $color09;
}