#sb0101 {
    background-color: $color10;
    height: 300px;
    margin-bottom: 20px;
}

#sb0102 {
    @extend #sb0101;
    background-color: $color11;
}

#sb0103 {
    @extend #sb0101;
    background-color: $color02;
}

#sb0104 {
    @extend #sb0101;
    background-color: $color03;
}

#sb0105 {
    @extend #sb0101;
    background-color: $color04;
}